@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration :none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* page d'acceuil*/
#Simo{
    background-image: url(/c:/Users/simoo/OneDrive/Documents/20-21_ocres_web_tp1/img/portfolio-background.jfif);
    background-size: cover;
    background-position: top center;
    position: relative;
}
#Simo::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .10;
    z-index: -1;
}
#Simo h1{
    display: blocK;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:white;
    animation-delay: 1s;
}
#Simo h2{
    display: blocK;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color:darkslateblue;
    animation-delay: 1s;
}
#Simo h3{
    display: blocK;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color:darkslateblue;
    animation-delay: 1s;
}
#Simo h4{
    display: blocK;
    width: fit-content;
    font-size: 1rem;
    position: relative;
    color:darkslateblue;
    animation-delay: 1s;
}
#Simo p{
    display: blocK;
    width: fit-content;
    font-size: 1rem;
    position: relative;
    color:white;
    animation-delay: 1s;
}
/* fin de la page d'acceuil*/